/node_modules/
/dist/
/.parcel-cache/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/7b8d4d333b820ac158ae84e8caa146.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/65a15087e4ed753c8c1aeaa687d62a.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/199418511341621819293907574a3a.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/cc32ad4ca8a254f56014d3159df567.v8
/index.html
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/react-course.loc.iml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_2020,_18_57_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020__18_03__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_2020__18_57__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/7b8d4d333b820ac158ae84e8caa146.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/65a15087e4ed753c8c1aeaa687d62a.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/199418511341621819293907574a3a.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/cc32ad4ca8a254f56014d3159df567.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_2020,_18_57_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/7b8d4d333b820ac158ae84e8caa146.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/199418511341621819293907574a3a.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/cc32ad4ca8a254f56014d3159df567.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/65a15087e4ed753c8c1aeaa687d62a.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/7b8d4d333b820ac158ae84e8caa146.v8
/.idea/shelf/Uncommitted_changes_before_Checkout_at_17_08_2020,_18_03_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_08_2020,_18_57_[Default_Changelist]/shelved.patch
